

.container-comparison {
    width: 85%;
    margin: 5% auto;
	font-family: 'Abhaya Libre', serif;
	font-weight: bolder;
}

.pictures img {
    max-width: 85%;
    margin: 1% 3% 3% 3%;
}

.pictures h3 {
    margin-top: 2%;
}
.pictures {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}
