
* {
	margin: 0;
	padding: 0;
}
html, body {
	height: 100%;
}
	

.container-all {
	min-height: 100%;
	background-color: #212529;
  }


.main {
	overflow: auto; /* To certify that we will get a scroll when the main content exceed the height of the browser. */
	padding-bottom:  53px; /* Must be exactly the height size of the footer; */
}

.navbar {
	padding: 0rem 1rem;
	z-index: 10;
	min-width: 350px;
	background-color: #FFFFFF;
}

.navbar .lattitude {
	background-color: #45BABA;
	color: #FFFFFF;
	font-weight: 600;
	font-size: 30px;
	width: 150px;
	margin-left: 50px;
	padding-top: 5px;
	padding-bottom: 5px;
	min-width: 50px;
	text-align: center;
	font-family: 'Abhaya Libre', serif;
}

.navbar .lattitude:hover {
	color: rgb(38, 231, 231);
	transition: all 0.5s ease-in-out;
}

.space {
	width: 5%;
}

.navbar form ul li {
	font-weight: bold;
}

.navbar-light .navbar-toggler {
	border-color: #FFFFFF;
}


.navbar-light .navbar-toggler:hover {
	border-color: rgb(38, 231, 231);
	background-color: rgb(38, 231, 231);
	transition: all 0.5s ease-in-out;
}

.jumbotron {
	border-radius: .15rem;
	background-color: white;
	color: #45BABA;
	margin:0; 
    padding: 2.5rem 2rem 1.5rem 2rem;
}

.jumbotron p {
	font-size: 1.1rem;
	color: rgba(0,0,0,.5);
	text-align:justify;
}

.container {
	max-width: 100%;
	font-family: 'Abhaya Libre', serif;
	font-weight: bolder;
}

.row {
	margin-top: 3%;
}

#first-picture {
	width: 45%;
	margin: 2% 5% 2% 0%;
	float: left;
}

.second-picture {
	width: inherit;
	margin: 5% 0% 5% 0%;
}

hr {
	border-color: #45BABA;
	opacity: 0.3;
}

.footer {
	position: relative;
	background-color:  #636363;
	height: 50px;
	margin-top: -50px; /* The reason we are putting this line here is because container is already  a 100% and will push the footer bellow exceeding the browser size. So with this negative margin-top will make the browse fulled but not with an unecessary scrool.*/
	border-top: 3px solid #45BABA;
	display: flex;
	flex-direction: column; 
	justify-content: center;
}

.footer span {
    font-family: 'Montserrat', sans-serif;
	font-size: 0.7rem;
	text-align: center;
	color: white;
}

.graph-selected {
	border: 5px double #45BABA; 
}


@media screen and (max-width: 991px) {
	
	.navbar {
		background-color: #45BABA;
	}

	.jumbotron p {
		font-size: 1.3rem;
	}

	.col-lg-4,
	.col-lg-7
	 {
		margin-bottom: 3%;
	}

}

