

.box-max-temperature img {
    width: 70%;
    margin: 1% 3% 3% 3%;
}

.box-max-temperature {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-flow: column;
}

.block-pictures {
    width: 100%;
    margin: 10% 0% 10% 0%;
}
